body {
    background-color: rgb(255, 246, 247);
    
}
h1, h2, h3 {
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table{
    border: 2px solid black;
    width: 100%;
}
th, td{
    border: 2px solid black;
}
.navbar{
    background-color: rgb(255, 124, 200);
    font-size: 20px;
    width: 100%;
}
h4{
    text-align: center;
}
.btn-group{
    width: 100%;
    align-items: center;
}
.btn{
    margin: 50px;
}
