body{
    background-color: rgb(255, 199, 210);
}
nav{
    background-color: rgb(247, 151, 170);
    color: rgb(250, 237, 237);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    background-color: rgb(238, 131, 153);
    color: rgb(255, 255, 255);
}

.btn:hover {
    background-color: rgb(255, 226, 232);
}
.card-body, .card{
    background-color: rgb(255, 247, 236);
}
.card-header{
    background-color: rgb(247, 151, 170);
    color: rgb(255, 255, 255);
}
h1, h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}